<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <th:block th:replace="layout :: link-css"></th:block>
  <title>Edit Nhan Vien</title>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
  <h1>Edit Nhan Vien</h1>
  <form th:action="@{/nhanviens/edit}" th:object="${nhanvien}" method="post">
    <div class="col-6 md-3">
      <label class="form-label" for="Ma_NV">ID:</label>
      <input class="form-control" type="text" th:field="*{Ma_NV}" id="Ma_NV" readonly>
      <span class="text-danger" th:if="${#fields.hasErrors('Ma_NV')}" th:errors="*{Ma_NV}"></span>
    </div>
    <div class="col-6 md-3">
      <label class="form-label" for="Ten_NV">Ten Nhan Vien:</label>
      <input class="form-control" type="text" th:field="*{Ten_NV}" id="Ten_NV">
      <span class="text-danger" th:if="${#fields.hasErrors('Ten_NV')}" th:errors="*{Ten_NV}"></span>
    </div>
    <div class="col-6 md-3">
      <label class="form-label" for="Phai">Phai:</label>
      <input class="form-control" type="text" th:field="*{Phai}" id="Phai">
    </div>
    <div class="col-6 md-3">
      <label class="form-label" for="Noi_Sinh">Noi Sinh:</label>
      <input class="form-control" type="text" th:field="*{Noi_Sinh}" id="Noi_Sinh">
      <span class="text-danger" th:if="${#fields.hasErrors('Noi_Sinh')}" th:errors="*{Noi_Sinh}"></span>
    </div>
    <div class="col-6 md-3">
      <label class="form-label" for="Luong">Luong:</label>
      <input class="form-control" type="text" th:field="*{Luong}" id="Luong">
      <span class="text-danger" th:if="${#fields.hasErrors('Luong')}" th:errors="*{Luong}"></span>
    </div>
    <div class="col-6 md-3">
      <label class="form-label" for="phongban">Category:</label>
      <select class="form-control" id="phongban" th:field="*{phongban.Ma_Phong}">
        <option value="">== Select Phong Ban ==</option>
        <option th:each="phongban : ${phongbans}" th:value="${phongban.Ma_Phong}" th:text="${phongban.Ten_Phong}"></option>
      </select>
      <span class="text-danger" th:if="${#fields.hasErrors('phongban.Ma_Phong')}" th:errors="*{phongban.Ma_Phong}"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
  <br>
  <a th:href="@{/nhanviens}">Back to list</a>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>